<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
        <%= title %>
    </title>
    <link href="/img/favicon.png" rel="icon" type="image/png"/>
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" type="image/png"/>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css"/>
    <link href="/css/inputs.css" rel="stylesheet" type="text/css"/>
    <link href="/fontawesome/css/all.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-fixed-left navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4 lead">Administração</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/admin/dashboard"><i class="fas fa-home"></i> Dashboard</a>
                    <!--<a class="nav-item nav-link" href="/"><i class="fas fa-globe-europe"></i> Página</a>-->
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/admin/profile/<%= user.nif %>"><i class="fas fa-user"></i>
                        <%= user.name %>
                    </a>
                    <a class="nav-item nav-link" href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Terminar
                        Sessão</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-lg-8">
            <% if (title != "Dashboard" ) { %>
                <div aria-label="breadcrumb " class="main-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%= title %>
                        </li>
                    </ol>
                </div>
            <% } %>