</div>
<div class="col-lg-4 pb-3">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="/user/user-ticket" class="text-reset">
                <i class="fas fa-ticket-alt"></i> Meus Bilhetes</a></li>
        <li class="list-group-item list-group-item-light"><a href="/user/statistic" class="text-reset">
                <i class="fas fa-chart-bar"></i> Estatisticas</a></li>
    </ul>
</div>
</div>
</main>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>