<div class="container-fluid">
  <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
              <div class="container">
                  <div class="row">
                      <div class="col-md-9 col-lg-8 mx-auto">
                          <h5 class="mb-4">
                              <a routerLink="/profile"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
                          </h5>
                          <h3 class="login-heading mb-4">Mudar Palavra-passe!</h3>
                          <form method="post">
                              <div class="form-label-group">
                                  <input name="oldPassword" type="password" id="oldPassword" class="form-control" placeholder="Antiga Palavra-passe" [(ngModel)]="oldPassword" required/>
                                  <label for="oldPassword">Antiga Palavra-passe</label>
                              </div>
                              <div class="form-label-group">
                                <input name="newPassword" type="password" id="newPassword" class="form-control" placeholder="Nova Palavra-passe" [(ngModel)]="newPassword" required/>
                                <label for="newPassword">Nova Palavra-passe</label>
                              </div>
                              <div class="text-center text-danger pb-3">
                                  <a>
                                      {{error}}
                                  </a>
                              </div>
                              <button (click)="password()" type="button" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 text-white">
                                  Mudar Palavra-passe
                              </button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
