.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
  font-family: 'Arial', sans-serif;
  color: #333;
}

img {
  width: 200px;
  margin-bottom: 20px;
}

h1 {
  font-size: 38px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
}
